{% load static %}
{% load my_custom_tags %}
<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>dataLayer = [{ 'ga-tracking-id' : 'UA-115105611-1' }];</script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGLBNC8');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Employees </title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
  </head>
  <body class="h-100">
    
        <!-- Main Sidebar -->
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
              <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                  <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 200px;"  src="{% static 'img/BP_logo.png' %}" alt="BP Logo">
                    <br>
                  </div>
                </a>
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                  <i class="material-icons">&#xE5C4;</i>
                </a>
              </nav>
            </div>
            <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
              <div class="input-group input-group-seamless ml-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
              </div>
            </form>
            <div class="nav-wrapper">
              <ul class="nav flex-column">
                {% get_user_role request.user as user_role %}

                {% if user_role == 'applicant' %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'applicant_dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                  </a>
                </li>
                {% endif %}

                {% if user_role == 'employee' %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'employee_dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                  </a>
                </li>
                {% endif %}

                </li>
                {% if user_role == 'hr_admin' %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'index' %}">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                  </a>
                </li>
                {% endif %}

                {% if user_role == 'hr_admin' or user_role == 'employee' %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'Leaves' %}">
                    <i class="material-icons">directions_walk</i>
                    <span>Leaves</span>
                  </a>
                </li>
               {% endif %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'Vaccincies' %}">
                    <i class="material-icons">business_center</i>
                    <span>Vacancies</span>
                  </a>
                </li>
         
                
                {% if user_role == 'hr_admin' %}
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'ApplicationManagement' %}">
                    <i class="material-icons">recent_actors</i>
                    <span>Applicants</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'Employees' %}">
                    <i class="material-icons">wc</i>
                    <span>Employees</span>
                  </a>
                </li>
                {% endif %}
               
                
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'Report' %}">
                    <i class="material-icons">content_paste</i>
                    <span>Report</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'Discussions' %}">
                    <i class="material-icons">question_answer</i>
                    <span>Announcements</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'userProfile' %}">
                    <i class="material-icons">person</i>
                    <span>User Profile</span>
                  </a>
                </li>
                
              </ul>
            </div>
          </aside>
          <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">

                    </div>
                  </div>
                
                </div>
              </form>
            
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" style="height: 50px;" src="{% static 'img/user_avatar.png' %}" alt="User Avatar" >
                    {% if username %}
                     <span class="d-none d-md-inline-block">{{ username }}</span>
                  {% endif %}
                </a>
                  <div class="dropdown-menu dropdown-menu-small">
                  
                    <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                      <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div> <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Employees</h3>
              <button class="btn btn-sm btn-outline-accent" id="downloadEmployeesButton" style="margin-left: 815px; margin-top: -50px;">Download Employee List</button> 
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default  Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">All Employees</h6>
                                     </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                     <thead class="bg-light">
                          <tr>
                            <th scope="col" class="border-bottom-0">ID</th>
                              <th scope="col" class="border-0">Employee Name</th>
                              <th scope="col" class="border-0">Mobile Number</th>
                              <th scope="col" class="border-0">Email</th>
                              <th scope="col" class="border-0">Job</th>
                              <th scope="col" class="border-bottom-0">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.employee_id }}</td>
                            <td>
                              <a href="{% url 'employee_details' employee.employee_id %}">
                                  {{ employee.name }}
                              </a></td>
                            <td>{{ employee.mobile_number }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.job.name }}</td>
                            {% if employee.performancereview_set.all %}
                            <td>
                                <button class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0" disabled>Evaluated</button>
                            </td>
                        {% else %}
                            <td>
                                <a href="{% url 'evaluate_employee' employee.employee_id %}">
                                    <button type="button" class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">Evaluate</button>
                                </a>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination">
              <span class="step-links">
                  {% if employees.has_previous %}
                  <button  class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">   <a href="?page=1">&laquo; first</a></button>
                    <button  class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">  <a href="?page={{ employees.previous_page_number }}">previous</a>></button>
                  {% endif %}
          
                  <span class="current">
                      Page {{ employees.number }} of {{ employees.paginator.num_pages }}.
                  </span>
          
                  {% if employees.has_next %}
                  <button  class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">  <a href="?page={{ employees.next_page_number }}">next</a>></button>
                    <button  class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">  <a href="?page={{ employees.paginator.num_pages }}">last &raquo;</a>></button>
                  {% endif %}
              </span>
          </div>
                    <!-- End Default Dark Table -->
            <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                <span class="copyright ml-auto my-auto mr-2">Copyright © 2023 <a href="https://www.polytechnic.bh/" rel="nofollow">Bahrain Polytechnic</a></span>
              </footer>
            </main>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
        <script src="scripts/extras.1.1.0.min.js"></script>
        <script src="scripts/shards-dashboards.1.1.0.min.js"></script>
        <script src="scripts/app/app-blog-overview.1.1.0.min.js"></script>
      </body>
      </html>
      <script>
        function confirmDeletion(applicantId) {
            if (confirm('Are you sure you want to eliminate this applicant?')) {
                window.location.href = '/delete_applicant/' + applicantId + '/';
            }
        }
    </script>

<script>
  document.getElementById('downloadEmployeesButton').addEventListener('click', function() {
      window.location.href = "{% url 'download_employees' %}";
  });
  </script>